@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Amsterdam;
  src: url("./assets/fonts/Amsterdam.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat.ttf");
}
